@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="LogoMain">
    <b href="#"><img src="~/LogoKamaz(Blue).svg" alt="deleted" fill="white" right: 0; width="100%" height="100%"></b>
</div>
